In [1]:
cd ..

C:\Users\Admin

In [2]:
!zip -r TRAITEMENT.zip datascience

  adding: datascience/ (164 bytes security) (stored 0%)
  adding: datascience/.ipynb_checkpoints/ (164 bytes security) (stored 0%)
  adding: datascience/.ipynb_checkpoints/1readcsvfile-checkpoint.ipynb (164 bytes security) (deflated 21%)
  adding: datascience/.ipynb_checkpoints/2analysedonn‚e-checkpoint.ipynb (164 bytes security) (deflated 89%)
  adding: datascience/.ipynb_checkpoints/3selectdata-checkpoint.ipynb (164 bytes security) (deflated 80%)
  adding: datascience/.ipynb_checkpoints/4FILTRES-checkpoint.ipynb (164 bytes security) (deflated 89%)
  adding: datascience/.ipynb_checkpoints/5supprimercolonee-checkpoint.ipynb (164 bytes security) (deflated 90%)
  adding: datascience/.ipynb_checkpoints/6valeursmanquantes-checkpoint.ipynb (164 bytes security) (deflated 21%)
  adding: datascience/.ipynb_checkpoints/7addcolonnes-checkpoint.ipynb (164 bytes security) (deflated 90%)
  adding: datascience/.ipynb_checkpoints/8ANALYSE-checkpoint.ipynb (164 bytes security) (deflated 76%)
  adding: datascience/.ipynb_checkpoints/data-checkpoint.csv (164 bytes security) (deflated 60%)
  adding: datascience/.ipynb_checkpoints/gradientdescent-checkpoint.ipynb (164 bytes security) (deflated 21%)
  adding: datascience/.ipynb_checkpoints/netflix_titles-checkpoint.csv (164 bytes security) (deflated 59%)
  adding: datascience/.ipynb_checkpoints/register-checkpoint.csv (164 bytes security) (deflated 59%)
  adding: datascience/1readcsvfile.ipynb (164 bytes security) (deflated 79%)
  adding: datascience/2analysedonn‚e.ipynb (164 bytes security) (deflated 90%)
  adding: datascience/3selectdata.ipynb (164 bytes security) (deflated 86%)
  adding: datascience/4FILTRES.ipynb (164 bytes security) (deflated 90%)
  adding: datascience/5supprimercolonee.ipynb (164 bytes security) (deflated 91%)
  adding: datascience/6valeursmanquantes.ipynb (164 bytes security) (deflated 91%)
  adding: datascience/7addcolonnes.ipynb (164 bytes security) (deflated 93%)
  adding: datascience/8ANALYSE.ipynb (164 bytes security) (deflated 41%)
  adding: datascience/data.csv (164 bytes security) (deflated 60%)
  adding: datascience/gradientdescent.ipynb (164 bytes security) (deflated 65%)
  adding: datascience/netflix_titles.csv (164 bytes security) (deflated 59%)
  adding: datascience/register.csv (164 bytes security) (deflated 59%)

In [4]:
!zip -r datascience.zip datascience

updating: datascience/ (164 bytes security) (stored 0%)
updating: datascience/.ipynb_checkpoints/ (164 bytes security) (stored 0%)
updating: datascience/.ipynb_checkpoints/1readcsvfile-checkpoint.ipynb (164 bytes security) (deflated 21%)
updating: datascience/.ipynb_checkpoints/2analysedonn‚e-checkpoint.ipynb (164 bytes security) (deflated 89%)
updating: datascience/.ipynb_checkpoints/3selectdata-checkpoint.ipynb (164 bytes security) (deflated 80%)
updating: datascience/.ipynb_checkpoints/4FILTRES-checkpoint.ipynb (164 bytes security) (deflated 89%)
updating: datascience/.ipynb_checkpoints/5supprimercolonee-checkpoint.ipynb (164 bytes security) (deflated 90%)
updating: datascience/.ipynb_checkpoints/6valeursmanquantes-checkpoint.ipynb (164 bytes security) (deflated 21%)
updating: datascience/.ipynb_checkpoints/7addcolonnes-checkpoint.ipynb (164 bytes security) (deflated 90%)
updating: datascience/.ipynb_checkpoints/8ANALYSE-checkpoint.ipynb (164 bytes security) (deflated 76%)
updating: datascience/.ipynb_checkpoints/data-checkpoint.csv (164 bytes security) (deflated 60%)
updating: datascience/.ipynb_checkpoints/gradientdescent-checkpoint.ipynb (164 bytes security) (deflated 21%)
updating: datascience/.ipynb_checkpoints/netflix_titles-checkpoint.csv (164 bytes security) (deflated 59%)
updating: datascience/.ipynb_checkpoints/register-checkpoint.csv (164 bytes security) (deflated 59%)
updating: datascience/1readcsvfile.ipynb (164 bytes security) (deflated 79%)
updating: datascience/2analysedonn‚e.ipynb (164 bytes security) (deflated 90%)
updating: datascience/3selectdata.ipynb (164 bytes security) (deflated 86%)
updating: datascience/4FILTRES.ipynb (164 bytes security) (deflated 90%)
updating: datascience/5supprimercolonee.ipynb (164 bytes security) (deflated 91%)
updating: datascience/6valeursmanquantes.ipynb (164 bytes security) (deflated 91%)
updating: datascience/7addcolonnes.ipynb (164 bytes security) (deflated 93%)
updating: datascience/8ANALYSE.ipynb (164 bytes security) (deflated 41%)
updating: datascience/data.csv (164 bytes security) (deflated 60%)
updating: datascience/gradientdescent.ipynb (164 bytes security) (deflated 65%)
updating: datascience/netflix_titles.csv (164 bytes security) (deflated 59%)
updating: datascience/register.csv (164 bytes security) (deflated 59%)

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("data.csv")

In [13]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [4]:
df.head()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0

In [5]:
df.tail()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [6]:
df.head(20)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
5,6,03/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,$5.82,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
9,10,03/23/2021,Guglielma,Gookes,ggookes9@amazon.co.uk,Male,169.100.6.0,France,$9.05,NaN
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0

In [7]:
df.tail(2)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [8]:
df.tail(200)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
800,801,03/27/2021,Bucky,Grimsdell,bgrimsdellm8@japanpost.jp,Male,199.88.12.70,Canada,$3.73,NaN
801,802,03/21/2021,Rusty,Gisborne,rgisbornem9@state.gov,Female,179.62.175.160,Canada,$5.76,20.0
802,803,03/14/2021,Guillermo,Dando,gdandoma@washington.edu,Male,112.36.3.186,France,$9.98,NaN
803,804,03/07/2021,Elicia,Winspurr,ewinspurrmb@issuu.com,Female,203.43.27.184,United States,$7.20,NaN
804,805,03/20/2021,Caesar,Spellesy,cspellesymc@lycos.com,Female,206.68.68.166,United States,$9.51,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [9]:
df.tail(30)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
970,971,03/27/2021,Abrahan,Osant,aosantqy@cbsnews.com,Female,78.88.255.165,United States,$4.39,20.0
971,972,03/09/2021,Devan,Kamena,dkamenaqz@umn.edu,Female,7.228.190.130,Canada,$7.25,20.0
972,973,03/26/2021,Margie,Summons,msummonsr0@reverbnation.com,Female,152.64.31.13,United States,$6.05,20.0
973,974,03/29/2021,Aridatha,Morse,amorser1@google.com.hk,Male,217.52.60.153,United States,$3.31,20.0
974,975,03/07/2021,Nehemiah,Kitcherside,nkitchersider2@google.com.br,Male,167.188.102.10,United States,$6.76,NaN
975,976,03/02/2021,Leroi,Latus,llatusr3@istockphoto.com,Female,252.37.157.82,France,$5.19,20.0
976,977,03/03/2021,Sax,Prichet,sprichetr4@psu.edu,Female,180.67.195.59,France,$3.73,NaN
977,978,03/14/2021,Bronny,Kemball,bkemballr5@thetimes.co.uk,NaN,64.241.43.138,Morocco,$4.32,NaN
978,979,03/18/2021,Bartolemo,Veelers,bveelersr6@smh.com.au,Male,149.150.196.237,Canada,$7.76,20.0
979,980,03/21/2021,Miquela,Geator,mgeatorr7@dot.gov,Male,26.111.31.113,France,$7.17,20.0
980,981,03/21/2021,Cari,Henze,chenzer8@toplist.cz,Male,24.235.87.125,France,$7.80,20.0
981,982,03/20/2021,Marty,Scad,mscadr9@addthis.com,Female,118.163.178.56,United States,$6.46,NaN
982,983,03/07/2021,Aaren,Yesinin,ayesininra@parallels.com,Female,26.182.250.137,United States,$8.41,20.0
983,984,03/03/2021,Rhianon,McGrale,rmcgralerb@wix.com,Male,37.231.252.243,Morocco,$4.46,20.0
984,985,03/17/2021,Koressa,Abbado,kabbadorc@printfriendly.com,NaN,20.188.127.195,United States,$4.33,NaN
985,986,03/29/2021,Yvonne,Longworthy,ylongworthyrd@163.com,Female,9.59.123.181,France,$9.16,NaN
986,987,03/05/2021,Dukey,Espinal,despinalre@accuweather.com,Male,30.61.204.231,United States,$4.07,20.0
987,988,03/13/2021,Patrice,Barr,pbarrrf@google.de,Male,14.129.223.239,United States,$6.20,20.0
988,989,03/07/2021,Yves,Botler,ybotlerrg@miitbeian.gov.cn,Female,148.191.87.121,United States,$6.10,20.0
989,990,03/16/2021,Horatius,Van Arsdalen,hvanarsdalenrh@prlog.org,NaN,243.214.103.52,France,$8.69,20.0
990,991,03/19/2021,Shep,Thorburn,sthorburnri@prnewswire.com,Male,108.123.252.15,France,$7.02,20.0
991,992,03/07/2021,Elihu,Crush,ecrushrj@berkeley.edu,Male,174.38.173.53,Morocco,$5.05,20.0
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,$4.31,NaN
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,$5.68,20.0
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [10]:
df.head(40)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
5,6,03/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,$5.82,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
9,10,03/23/2021,Guglielma,Gookes,ggookes9@amazon.co.uk,Male,169.100.6.0,France,$9.05,NaN
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0
20,21,03/12/2021,Jeffrey,Stanman,jstanmank@latimes.com,Female,3.110.64.192,France,$5.55,20.0
21,22,03/05/2021,Mendie,Ayer,mayerl@squarespace.com,Male,166.97.124.52,Canada,$4.86,20.0
22,23,03/03/2021,Muriel,Pexton,mpextonm@bing.com,Male,113.10.187.192,Canada,$6.72,20.0
23,24,03/09/2021,Ermanno,Ghost,eghostn@webnode.com,Male,144.170.210.226,Canada,$9.79,NaN
24,25,03/02/2021,Tod,Willets,twilletso@artisteer.com,Male,101.42.146.88,Canada,$8.23,NaN
25,26,03/14/2021,Nobe,Stobbart,nstobbartp@php.net,Female,126.155.177.249,United States,$9.90,NaN
26,27,03/27/2021,Elyse,Glaysher,eglaysherq@mayoclinic.com,NaN,165.91.52.42,United States,$5.88,NaN
27,28,03/25/2021,Staford,London,slondonr@sphinn.com,Male,247.235.26.222,United States,$3.06,20.0
28,29,03/03/2021,Willabella,Robbins,wrobbinss@tinyurl.com,Female,129.71.210.8,NaN,$9.52,20.0
29,30,03/02/2021,Edi,Petru,epetrut@census.gov,Male,117.48.20.14,United States,$6.76,20.0
30,31,03/28/2021,Tommi,Ditchburn,tditchburnu@bbc.co.uk,Female,8.92.173.38,Morocco,$7.81,20.0
31,32,03/10/2021,Jillene,Baudi,jbaudiv@gizmodo.com,Female,184.161.57.67,France,$6.02,20.0
32,33,03/29/2021,Eadmund,Laurent,elaurentw@economist.com,Male,121.149.77.253,United States,$5.00,20.0
33,34,03/20/2021,Cam,Francescoccio,cfrancescocciox@si.edu,Female,177.11.5.62,United States,$5.34,20.0
34,35,03/02/2021,Trescha,McCudden,tmccuddeny@nbcnews.com,Female,195.84.81.131,France,$4.67,20.0
35,36,03/11/2021,Charmian,Greenleaf,cgreenleafz@tinypic.com,Male,46.184.249.156,France,$6.22,20.0
36,37,03/08/2021,Daisy,Jobey,djobey10@ovh.net,Male,37.228.186.236,France,$3.37,20.0
37,38,03/20/2021,Byram,Dudman,bdudman11@barnesandnoble.com,Male,37.111.199.4,United States,$9.50,NaN
38,39,03/22/2021,Matthus,Saket,msaket12@netlog.com,Female,248.135.20.146,Canada,$4.54,20.0
39,40,03/14/2021,Murdock,Speaks,mspeaks13@yellowbook.com,Female,76.114.76.139,Canada,$4.04,20.0

In [11]:
df.head(100)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
95,96,03/09/2021,Winnifred,Hallwood,whallwood2n@virginia.edu,Male,112.42.117.8,France,$6.06,20.0
96,97,03/20/2021,Devonne,Clowsley,dclowsley2o@ebay.co.uk,Female,118.214.156.60,United States,$4.71,NaN
97,98,03/23/2021,Nikolai,Hallett,nhallett2p@marketwatch.com,Female,59.88.118.165,France,$7.78,20.0
98,99,03/06/2021,Gerardo,Antley,gantley2q@php.net,Male,112.48.89.18,Canada,$9.67,20.0
99,100,03/02/2021,Boy,Jimenez,bjimenez2r@ucla.edu,NaN,58.118.127.65,Canada,$9.93,20.0

#df.shape est un attribut non pas une methode ( we don't use () )

In [12]:
df.shape

(1000, 10)

In [14]:
df.columns

Index(['id', 'date', 'first_name', 'last_name', 'email', 'gender',
       'ip_address', 'country', 'price_paid', 'tax'],
      dtype='object')

In [17]:
df.columns.tolist()

['id',
 'date',
 'first_name',
 'last_name',
 'email',
 'gender',
 'ip_address',
 'country',
 'price_paid',
 'tax']

In [18]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [19]:
df.set_index("email")

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
gbrantl3@umn.edu,4,03/19/2021,Grata,Brantl,Female,5.140.237.101,United States,$3.70,20.0
kbeasant4@jigsy.com,5,03/24/2021,Kanya,Beasant,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
arastallro@toplist.cz,997,03/17/2021,Ame,Rastall,Female,188.219.12.109,NaN,$4.59,20.0
bstickelsrp@cloudflare.com,998,03/13/2021,Betty,Stickels,Male,199.80.60.87,United States,$7.54,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN
rpringuerrr@house.gov,1000,03/23/2021,Rochelle,Pringuer,NaN,170.193.249.83,Canada,$8.01,20.0

In [20]:
df.set_index("gender")

,id,date,first_name,last_name,email,ip_address,country,price_paid,tax
gender,,,,,,,,,
Male,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,160.119.8.119,Canada,$5.36,NaN
Female,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,210.51.172.132,Canada,$8.32,NaN
Male,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,213.8.101.145,United States,$3.73,20.0
Female,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,5.140.237.101,United States,$3.70,20.0
Male,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
Female,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,193.84.247.144,France,$3.63,NaN
Female,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,188.219.12.109,NaN,$4.59,20.0
Male,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,199.80.60.87,United States,$7.54,20.0
Male,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,0.183.63.11,United States,$5.81,NaN
NaN,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,170.193.249.83,Canada,$8.01,20.0

#modifier le df

In [21]:
df = df.set_index("email")

In [22]:
df

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
gbrantl3@umn.edu,4,03/19/2021,Grata,Brantl,Female,5.140.237.101,United States,$3.70,20.0
kbeasant4@jigsy.com,5,03/24/2021,Kanya,Beasant,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
arastallro@toplist.cz,997,03/17/2021,Ame,Rastall,Female,188.219.12.109,NaN,$4.59,20.0
bstickelsrp@cloudflare.com,998,03/13/2021,Betty,Stickels,Male,199.80.60.87,United States,$7.54,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN
rpringuerrr@house.gov,1000,03/23/2021,Rochelle,Pringuer,NaN,170.193.249.83,Canada,$8.01,20.0

In [23]:
df.index

Index(['malders0@shop-pro.jp', 'hharridge1@gnu.org', 'ekilminster2@etsy.com',
       'gbrantl3@umn.edu', 'kbeasant4@jigsy.com', 'tbraybrooke5@umn.edu',
       'akencott6@phoca.cz', 'cfeasley7@ed.gov', 'wheersema8@tumblr.com',
       'ggookes9@amazon.co.uk',
       ...
       'sthorburnri@prnewswire.com', 'ecrushrj@berkeley.edu',
       'mguilloneaurk@about.me', 'osnellerl@nhs.uk',
       'cbruntjenrm@reference.com', 'derrigorn@elpais.com',
       'arastallro@toplist.cz', 'bstickelsrp@cloudflare.com',
       'ptesoerq@rakuten.co.jp', 'rpringuerrr@house.gov'],
      dtype='object', name='email', length=1000)

In [1]:
df.email

NameError: name 'df' is not defined

In [2]:
df.email.head()

NameError: name 'df' is not defined

In [4]:
df=pd.read_csv("data.csv")

NameError: name 'pd' is not defined

In [5]:
df= pd.read_csv("data.csv")

NameError: name 'pd' is not defined

In [6]:
import pandas as pd 
df=pd.read_csv("data.csv")

In [7]:
df.email

0            malders0@shop-pro.jp
1              hharridge1@gnu.org
2           ekilminster2@etsy.com
3                gbrantl3@umn.edu
4             kbeasant4@jigsy.com
                  ...
995          derrigorn@elpais.com
996         arastallro@toplist.cz
997    bstickelsrp@cloudflare.com
998        ptesoerq@rakuten.co.jp
999         rpringuerrr@house.gov
Name: email, Length: 1000, dtype: object

In [9]:
df.gender

0        Male
1      Female
2        Male
3      Female
4        Male
        ...
995    Female
996    Female
997      Male
998      Male
999       NaN
Name: gender, Length: 1000, dtype: object

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
 type(df.email)

pandas.core.series.Series

#dataFrame cest le tableau entier (lignes*columns)
#Series cest une seule column

In [13]:
df[1:30]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
5,6,03/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,$5.82,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
9,10,03/23/2021,Guglielma,Gookes,ggookes9@amazon.co.uk,Male,169.100.6.0,France,$9.05,NaN
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0
20,21,03/12/2021,Jeffrey,Stanman,jstanmank@latimes.com,Female,3.110.64.192,France,$5.55,20.0
21,22,03/05/2021,Mendie,Ayer,mayerl@squarespace.com,Male,166.97.124.52,Canada,$4.86,20.0
22,23,03/03/2021,Muriel,Pexton,mpextonm@bing.com,Male,113.10.187.192,Canada,$6.72,20.0
23,24,03/09/2021,Ermanno,Ghost,eghostn@webnode.com,Male,144.170.210.226,Canada,$9.79,NaN
24,25,03/02/2021,Tod,Willets,twilletso@artisteer.com,Male,101.42.146.88,Canada,$8.23,NaN
25,26,03/14/2021,Nobe,Stobbart,nstobbartp@php.net,Female,126.155.177.249,United States,$9.90,NaN
26,27,03/27/2021,Elyse,Glaysher,eglaysherq@mayoclinic.com,NaN,165.91.52.42,United States,$5.88,NaN
27,28,03/25/2021,Staford,London,slondonr@sphinn.com,Male,247.235.26.222,United States,$3.06,20.0
28,29,03/03/2021,Willabella,Robbins,wrobbinss@tinyurl.com,Female,129.71.210.8,NaN,$9.52,20.0
29,30,03/02/2021,Edi,Petru,epetrut@census.gov,Male,117.48.20.14,United States,$6.76,20.0

In [14]:
 df.loc[1:3]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0

In [15]:
df_email= df.set_index("email")
df_email

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
gbrantl3@umn.edu,4,03/19/2021,Grata,Brantl,Female,5.140.237.101,United States,$3.70,20.0
kbeasant4@jigsy.com,5,03/24/2021,Kanya,Beasant,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
arastallro@toplist.cz,997,03/17/2021,Ame,Rastall,Female,188.219.12.109,NaN,$4.59,20.0
bstickelsrp@cloudflare.com,998,03/13/2021,Betty,Stickels,Male,199.80.60.87,United States,$7.54,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN
rpringuerrr@house.gov,1000,03/23/2021,Rochelle,Pringuer,NaN,170.193.249.83,Canada,$8.01,20.0

In [16]:
df_mail.loc[malders0@shop-pro.jp]

NameError: name 'df_mail' is not defined

In [17]:
df_mail.loc[ptesoerq@rakuten.co.jp : kbeasant4@jigsy.com]

NameError: name 'df_mail' is not defined

In [22]:
df_email.loc['ptesoerq@rakuten.co.jp' ]

id                      999
date             03/17/2021
first_name          Paquito
last_name             Tesoe
gender                 Male
ip_address      0.183.63.11
country       United States
price_paid            $5.81
tax                     NaN
Name: ptesoerq@rakuten.co.jp, dtype: object

In [23]:
df.loc[1]

id                             2
date                  03/19/2021
first_name                 Hinda
last_name               Harridge
email         hharridge1@gnu.org
gender                    Female
ip_address        210.51.172.132
country                   Canada
price_paid                 $8.32
tax                          NaN
Name: 1, dtype: object

In [1]:
df=df.set_index("email")

NameError: name 'df' is not defined

In [2]:
df=df.set_index("email")

NameError: name 'df' is not defined

In [3]:
import pandas as pd 
df=pd.read_csv("data.csv")
df.set_index("email")

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
gbrantl3@umn.edu,4,03/19/2021,Grata,Brantl,Female,5.140.237.101,United States,$3.70,20.0
kbeasant4@jigsy.com,5,03/24/2021,Kanya,Beasant,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
arastallro@toplist.cz,997,03/17/2021,Ame,Rastall,Female,188.219.12.109,NaN,$4.59,20.0
bstickelsrp@cloudflare.com,998,03/13/2021,Betty,Stickels,Male,199.80.60.87,United States,$7.54,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN
rpringuerrr@house.gov,1000,03/23/2021,Rochelle,Pringuer,NaN,170.193.249.83,Canada,$8.01,20.0