In [2]:
import pandas as pd 
df= pd.read_csv("data.csv")

In [3]:
df.head()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0

In [4]:
df['gender'].head(1)

0    Male
Name: gender, dtype: object

In [5]:
df['gender'].head()

0      Male
1    Female
2      Male
3    Female
4      Male
Name: gender, dtype: object

In [6]:
df['email'].head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [1]:
import pandas as pd
df=pd.read_csv("data.csv")
df.email.head()

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
df=pd.read_csv("data.csv")
df.email.head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [3]:
df["email"].head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [4]:
type (df)

pandas.core.frame.DataFrame

In [5]:
type (df)

pandas.core.frame.DataFrame

In [6]:
type (df)

pandas.core.frame.DataFrame

In [7]:
type (df)

pandas.core.frame.DataFrame

In [8]:
type (df.email)

pandas.core.series.Series

In [ ]:
#Le Dataframe cest lensemble des colonnes et lignes
#Series cest un seule colonne

In [9]:
df.gender.tail()

995    Female
996    Female
997      Male
998      Male
999       NaN
Name: gender, dtype: object

In [10]:
df.age.tail()

AttributeError: 'DataFrame' object has no attribute 'age'

In [11]:
df[3:6]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
5,6,03/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,$5.82,NaN

In [12]:
 df.set_index("email")

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
gbrantl3@umn.edu,4,03/19/2021,Grata,Brantl,Female,5.140.237.101,United States,$3.70,20.0
kbeasant4@jigsy.com,5,03/24/2021,Kanya,Beasant,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
derrigorn@elpais.com,996,03/24/2021,Duff,Errigo,Female,193.84.247.144,France,$3.63,NaN
arastallro@toplist.cz,997,03/17/2021,Ame,Rastall,Female,188.219.12.109,NaN,$4.59,20.0
bstickelsrp@cloudflare.com,998,03/13/2021,Betty,Stickels,Male,199.80.60.87,United States,$7.54,20.0
ptesoerq@rakuten.co.jp,999,03/17/2021,Paquito,Tesoe,Male,0.183.63.11,United States,$5.81,NaN
rpringuerrr@house.gov,1000,03/23/2021,Rochelle,Pringuer,NaN,170.193.249.83,Canada,$8.01,20.0

In [13]:
df.loc[malders0@shop-pro.jp, ptesoerq@rakuten.co.jp]

NameError: name 'malders0' is not defined

In [14]:
df.loc["malders0@shop-pro.jp", "ptesoerq@rakuten.co.jp"]

KeyError: 'ptesoerq@rakuten.co.jp'

In [16]:
df_em=df.set_index("email")
df_em.loc["malders0@shop-pro.jp"]

id                        1
date             03/28/2021
first_name          Marylin
last_name            Alders
gender                 Male
ip_address    160.119.8.119
country              Canada
price_paid            $5.36
tax                     NaN
Name: malders0@shop-pro.jp, dtype: object

In [17]:
df_em=df.set_index("email")
df_em.email("malders0@shop-pro.jp")

AttributeError: 'DataFrame' object has no attribute 'email'

In [18]:
df_em.loc[["malders0@shop-pro.jp","gbrantl3@umn.edu"]]

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
gbrantl3@umn.edu,4,03/19/2021,Grata,Brantl,Female,5.140.237.101,United States,$3.70,20.0

In [20]:
type(df_em.loc["malders0@shop-pro.jp"])

pandas.core.series.Series

In [ ]:
#cela vas chercher la ligne attribuer a l'@ donné puis retournes ces attributs