In [2]:
import pandas as pd 
df= pd.read_csv("data.csv")

In [3]:
df.head()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0

In [4]:
df['gender'].head(1)

0    Male
Name: gender, dtype: object

In [5]:
df['gender'].head()

0      Male
1    Female
2      Male
3    Female
4      Male
Name: gender, dtype: object

In [6]:
df['email'].head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [1]:
import pandas as pd
df=pd.read_csv("data.csv")
df.email.head()

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
df=pd.read_csv("data.csv")
df.email.head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [3]:
df["email"].head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [4]:
type (df)

pandas.core.frame.DataFrame

In [5]:
type (df)

pandas.core.frame.DataFrame

In [6]:
type (df)

pandas.core.frame.DataFrame

In [7]:
type (df)

pandas.core.frame.DataFrame

In [8]:
type (df.email)

pandas.core.series.Series

In [ ]:
#Le Dataframe cest lensemble des colonnes et lignes
#Series cest un seule colonne