In [42]:
import pandas as pd 
df=pd.read_csv("data.csv")

In [45]:
df["price_paid"].describe()

count      1000
unique      528
top       $3.73
freq          8
Name: price_paid, dtype: object

In [46]:
df.price_paid=df.price_paid.apply(lambda x: x.replace("$" ,""))
df.price_paid=df.price_paid.astype(float)

In [47]:
df["price_paid"].mean()

6.461930000000001

la somme

In [48]:
df["price_paid"].sum()

6461.93

In [49]:
df["price_paid"].min()

3.0

In [50]:
df["price_paid"].max()

10.0

In [52]:
df["country"].unique()

array(['Canada', 'United States', 'Morocco', 'France', nan], dtype=object)

In [54]:
df["country"].value_counts()

country
France           408
United States    333
Canada           161
Morocco           54
Name: count, dtype: int64

In [55]:
df["gender"].value_counts()

gender
Female    493
Male      438
Name: count, dtype: int64